extends ../template-cdn-en
include ../mixins-en

block head
  title Bootstrap 4 tutorial: Extend / Migration / About

block body
  div.container
    +pageHeader("extend+migration+about")
      p.lead
        a(href="#extend") Extend
        |  / 
        a(href="#migration") Migration
        |  / 
        a(href="#about") About

    h2.mt-2#extend
      extLink("https://getbootstrap.com/docs/4.1/extend/approach/") Extend
    h4.mt-3#approach
      +extLink("https://getbootstrap.com/docs/4.1/extend/approach/") Approach
    p.mt-2.mb-1 About the guiding principles of Bootstrap 4 (summary).
    ul
      li
        +extLink("https://getbootstrap.com/docs/4.1/extend/approach/#responsive") Responsive and mobile-first
      li
        +extLink("https://getbootstrap.com/docs/4.1/extend/approach/#classes") Built with a base class and extended via modifier classes
      li
        +extLink("https://getbootstrap.com/docs/4.1/extend/approach/#z-index-scales") States should obey a common z-index scale
      li
        +extLink("https://getbootstrap.com/docs/4.1/extend/approach/#html-and-css-over-js") Prefer a HTML and CSS implementation over JavaScript
      li
        +extLink("https://getbootstrap.com/docs/4.1/extend/approach/#utilities") Use utilities over custom styles
      li
        +extLink("https://getbootstrap.com/docs/4.1/extend/approach/#flexible-html") Avoid enforcing strict HTML requirements (children selectors)

    h4.mt-3#icons
      +extLink("https://getbootstrap.com/docs/4.1/extend/icons/") Icons
    p Bootstrap 3's 
      +extLink("http://getbootstrap.com/docs/3.3/components/#glyphicons") Glyphicons
      |  is now dropped. Bootstrap 4 recommends using external icon libraries.
    h6 Recommended libraries (tested and used by Bootstrap team)
    ul
      li
        +extLink("https://fontawesome.com/") Font Awesome
      li
        +extLink("https://useiconic.com/") Iconic
        |  ( 
        +extLink("https://github.com/iconic/open-iconic") Open Iconic
        |  is used inside 
        a(href="components-5.html#custom-forms") Custom forms
        |  )
      li
        +extLink("https://octicons.github.com/") Octicons
    p See 
      +extLink("https://getbootstrap.com/docs/4.1/extend/icons/#more-options") More options
      |  for further libraries.

    h2.mt-4#migration
      +extLink("https://getbootstrap.com/docs/4.1/migration/") Migration
    p.my-2 Changes from previous versions.
    p.my-1 Changes from v4.0 Beta to stable v4.0
    ul
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#stable-changes") Stable changes
        |  : Changes from v4.0 Beta 3 to stable v4.0
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#beta-3-changes") Beta 3 changes
        |  : Changes from v4.0 Beta 2 to Beta 3
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#beta-2-changes") Beta 2 changes
        |  : Changes from v4.0 Beta 1 to Beta 2
    p.mt-2.mb-1 Changes from version 3 to version 4 (summary)
    ul
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#browser-support") Browser support
        ul
          li IE10+/iOS7+ (dropped IE8,9,iOS6)
          li Android v5,0 Lollipop and WebView
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#global-changes") Global changes
        ul
          li Flexbox is enabled by default
          li Changed from Less to Sass for source CSS files
          li Changed primary CSS unit from 
            code em
            |  to 
            code rem
          li Global font size increased from 
            code 14px
            |  to 
            code 16px
            |  , etc.
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#grid-system") Grid system
        ul
          li Moved to flexbox-based
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#components") Components
        ul
          li Dropped panels, thumnails, wells, Glyphicons, Affix, and pager
          li Refactored nearly all components
    p.mt-2.mb-1 Changes by component (summary / top items only, see source links for further details)
    ul
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#reboot") Reboot
        ul
          li Changed reset CSS 
            +extLink("https://necolas.github.io/normalize.css/") Normalize.css
            |  to 
            +extLink("https://getbootstrap.com/docs/4.1/content/reboot/") Reboot
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#typography") Typography
        ul
          li Dropped 
            code .page-header
            |  (use utilities instead), 
          li Dropped 
            code .dl-horizontal
            |  (use 
            code .row
            |  )
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#images") Images
        ul
          li Renamed 
            code .img-responsive
            |  to 
            code .img-fluid
          li Renamed 
            code .img-rounded
            |  to 
            code .rounded
          li Renamed 
            code .img-circle
            |  to 
            code .rounded-circle
      li#tables
        +extLink("https://getbootstrap.com/docs/4.1/migration/#tables") Tables
        ul
          li Removed nearly all child combinators ( 
            code &gt;
            |  ) to simplify customizations especially for nested tables
          li Responsive tables do not require wrapping parents
          li Renamed 
            code .table-condensed
            |  to 
            code .table-sm 
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#forms-1") Forms
        ul
          li Renamed 
            code .control-label
            |  to 
            code .col-form-label
          li Renamed 
            code .input-(lg|sm)
            |  to 
            code .form-control-(lg|sm)
          li Dropped 
            code .form-group-*
            |  (use 
            code .form-control-*
            |  )
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#buttons") Buttons
        ul
          li Renamed 
            code .btn-default
            |  to 
            code .btn-secondary
          li Dropped 
            code .btn-xs
          li Dropped the stateful button feature of 
            code button.js
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#button-group") Button group
        ul
          li Rewrote with flexbox
          li Removed 
            code .btn-group-justified
          li Dropped 
            code .btn-group-xs
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#dropdowns") Dropdowns
        ul
          li Redesigned and simplified
          li Now dropdowns can be built with 
            code div
            |  and 
            code ul
            |  elements
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#grid-system-1") Grid system
        ul
          li Added 
            code 576px
            |  breakpoint as 
            code sm
            |  (now 
            code xs
            | , 
            code sm
            | , 
            code mb
            | , 
            code lg
            | , and 
            code xl
            | )
          li Changed 
            code .col-{breakpoint}-{modifier}-{size}
            |  to 
            code .{modifier}-{breakpoint}-{size}
          li Dropped push and pull modifier classes (use flexbox instead)

      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#list-groups") List groups
        ul
          li Rewrote with flexbox
          li Replaced 
            code a.list-group-item
            |  with 
            code .list-group-item-action
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#modal") Modal
        ul
          li Rewrote with flexbox
          li Removed 
            code remote
            |  option
          li Removed 
            code loaded.bs.modal
            |  event
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#navs") Navs
        ul
          li Rewrote with flexbox
          li Removed nearly all child combinators ( 
            code &gt;
            |  ) for simpler styling
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#navbar") Navbar
        ul
          li Entirely redesigned with flexbox
          li Responsible behaviors are now applied to 
            code .navbar
            |  by 
            code .navbar-expand-{breakpoint}
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#pagination") Pagination
        ul
          li Rewrote with flexbox
          li
            code .page-(item|link)
            |  are now required on the descendants of 
            code .pagination
            |  elements
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#breadcrumbs") Breadcrumbs
        ul
          li
            code .breadcrumb-item
            |  is now required on breadcrumb items
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#labels-and-badges") Labels and badges
        ul
          li Dropped ver 3's badge
          li Renamed ver 3's label to ver 4's badge
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#panels-thumbnails-and-wells") Panels, thumbnails, and wells
        ul
          li Dropped all components (use new 
            a(href="components-3.html") Card component
            |  instead)
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#progress") Progress
        ul
          li Replaced
            code .progress-bar-*
            |  with 
            code .bg-*
          li Replaced 
            code .active
            |  for animated progress bars with 
            code .progress-bar-animated
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#carousel") Carousel
        ul
          li Rewritten to to simplify design and styling
          li CSS has been un-nested and renamed (now needs 
            code .carousel-
            |  prefix)
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#tables-1") Tables
        |  ⇒ 
        a(href="#tables") (See above)
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#utilities") Utilities
        ul
          li Made display utilities responsive 
            code .d-(sm|md|lg|xl)-(none|inline|...)
          li Made text alignment responsive 
            code .text-(sm|md|lg|xl)-(left|center|right)
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#vendor-prefix-mixins") Vendor prefix mixins
        ul
          li Removed (changed to 
            +extLink("https://github.com/postcss/autoprefixer") Autoprefixer
            |  )
    p.mt-2.mb-1 Others
    ul
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#documentation") Documentation
        |  : Changes about document creation using Jekyll
      li
        +extLink("https://getbootstrap.com/docs/4.1/migration/#responsive-utilities") Responsive utilities
        |  : Changes about responsive implementations

    h2.mt-4#about
      +extLink("https://getbootstrap.com/docs/4.1/about/overview/") About
    h4.mt-3#overview
      +extLink("https://getbootstrap.com/docs/4.1/about/overview/") Overview
    p.mt-2 About Bootstrap development team, history, etc.

    h4.mt-3#brand
      +extLink("https://getbootstrap.com/docs/4.1/about/brand/") Brand
    p.my-2 Documentation and examples for Bootstrap’s logo and brand usage guidelines.

    h4.mt-3#licence
      +extLink("https://getbootstrap.com/docs/4.1/about/license/") Licence
    p.mt-2 FAQ's about Bootstrap’s open source license.

    h4.mt-3#translations
      +extLink("https://getbootstrap.com/docs/4.1/about/translations/") Translations
    p.mt-2 Links to translations of Bootstrap doocumentation.

    +breadcrumbLevel1("Extend/Migration/About")
