extends ../template-cdn-en
include ../mixins-en

mixin bodyTextExample
  h5 Media heading
  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

mixin imageSample
  img.mr-3(src="../img/48x48.svg" alt="48x48 placeholder image")

block head
  title Bootstrap 4 tutorial: Layout (2): Media object / Utilities for layout

block body
  div.container
    +pageHeader("layout-2")
      p.lead Layout (2): 
        a(href="#media-object") Media object
        |  / 
        a(href="#utilities-for-layout") Utilities for layout

    h2.mt-2#media-object
      +extLink("https://getbootstrap.com/docs/4.1/layout/media-object/") Media Object
    h4.mt-4#media-example
      +extLink("https://getbootstrap.com/docs/4.1/layout/media-object/#example") Basic example
    div.media.my-3
      +imageSample
      div.media-body
        +bodyTextExample
    ul.struct.mt-3
      li Media object (frame) 
        code div.media
        ul
          li Thumbnail image 
            code img
            +attrsBtn(".a1-1")
            ul.collapse.a1-1
              li.cls Margin 
                code .mr-3
                |  (keeps 1rem between media body on right ⇒ 
                a(href="utilities-4.html#spacing") Spacing utilities
                |  )
              li.att Attribute 
                code href="..."
              li.att Attribute 
                code alt="..."
          li Body 
            code div.media-body
            ul
              li Heading 
                code h5
                ul
                  li.txt Heading text 
                    code Media heading
              li.txt Body text 
                code Lorem ipsum ...
    h4.mt-4#media-nesting
      +extLink("https://getbootstrap.com/docs/4.1/layout/media-object/#nesting") Nesting
    p.my-2
      code div.media
      |  can be nested inside 
      code div.media-body
    p.mt-3.mb-1 Nesting example
    div.media.mt-3
      +imageSample
      div.media-body
        +bodyTextExample
        div.media.pt-3
          +imageSample
          div.media-body
            +bodyTextExample
    p.mt-4.mb-1 Three levels (more levels as the same way)
    div.media.mt-3
      +imageSample
      div.media-body
        +bodyTextExample
        div.media.pt-3
          +imageSample
          div.media-body
            +bodyTextExample
            div.media.pt-3
              +imageSample
              div.media-body
                +bodyTextExample
    h4.mt-4#media-alignment
      +extLink("https://getbootstrap.com/docs/4.1/layout/media-object/#alignment") Alignment
    p.my-2 Use 
      a(href="utilities-3.html#flex") Flex utilities
      |  . Examples for aligning 
      code img
      |  (with added borders).
    each algn in [["start", "Top"], ["center", "Center"], ["end", "Bottom"]]
      p.mt-2.mb-1
        code= `img.align-self-${algn[0]}`
      div.media.mb-3.border
        img(class=`align-self-${algn[0]} mr-3` src="../img/48x48.svg" alt="48x48 placeholder image")
        div.media-body
          h5.mt-0= `${algn[1]}-aligned media`
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    h4.mt-4#media-order
      +extLink("https://getbootstrap.com/docs/4.1/layout/media-object/#order") Order
    p.my-2 (1) Change DOM element order: move 
      code img
      |  to the last
    div.media.mt-2
      div.media-body
        +bodyTextExample
      img.ml-3.order-last(src="../img/48x48.svg" alt="48x48 placeholder image")
    p.mt-4.mb-2 (2) Change order with 
      code .order-*
      |  of 
      a(href="utilities-3.html#flex") Flex utilities
      |  .
    div.media.mt-2
      img.ml-3.order-last(src="../img/48x48.svg" alt="48x48 placeholder image")
      div.media-body
        +bodyTextExample
    h4.mt-4#media-list
      +extLink("https://getbootstrap.com/docs/4.1/layout/media-object/#media-list") Media list
    p.my-2 Example using 
      code ul
      |  (same as 
      code ol
      |  )
    ul.list-unstyled
      each n in [1,2,3]
        li.media.my-3
          +imageSample
          div.media-body
            h5.mt-0= `Media heading (${n})`
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    ul.struct.mt-3
      li
        code ul.list-unstyled
        ul
          li.cls Remove prefix symbols with 
            code .list-unstyled
            |  (⇒ 
            a(href="content-1.html#typo-list-unstyled") Lists - Unstyled
            |  )
          li Items 
            code li.media.my-3
            ul
              li.cls Adjust top/bottom margins with 
                code .my-3
                |  (⇒ 
                a(href="utilities-4.html#spacing") Spacing utilities
                |  )
              li See 
                a(href="#media-example") Basic example
                |  for inside
    h2.mt-5#utilities
      +extLink("https://getbootstrap.com/docs/4.1/layout/utilities-for-layout/") Utilities for layout
    ul.mb-3
      li Showing/Hiding elements ⇒ 
        a(href="utilities-2.html#display") Display
      li Layout using flexbox ⇒ 
        a(href="utilities-3.html#flex") Flex
      li Setting margins and/or paddings ⇒ 
        a(href="utilities-4.html#spacing") Spacing
      li Showing/Hiding elements without changing layout ⇒ 
        a(href="utilities-5.html#visibility") Visibility

    +breadcrumbLevel1("Layout(2): Media object/Utilities for layout")
