extends ../template-cdn-ja
include ../mixins-ja

block head
  title Bootstrap 4 tutorial: Extend / Migration / About

block body
  div.container
    +pageHeader("extend+migration+about")
      p.lead
        a(href="#extend") Extend
        |  / 
        a(href="#migration") Migration
        |  / 
        a(href="#about") About

    h2.mt-2#extend
      +extLink("https://getbootstrap.com/docs/4.2/extend/approach/") Extend
    h4.mt-3#approach
      +extLink("https://getbootstrap.com/docs/4.2/extend/approach/") Approach
    p.mt-2.mb-1 Bootstrap 4の設計方針について(概要)
    ul
      li
        +extLink("https://getbootstrap.com/docs/4.2/extend/approach/#responsive") レスポンシブ、モバイルファースト
      li
        +extLink("https://getbootstrap.com/docs/4.2/extend/approach/#classes") ベースクラスを基本として修飾クラスで拡張する
      li
        +extLink("https://getbootstrap.com/docs/4.2/extend/approach/#z-index-scales") 状態に対応したz-indexのスケールを用いる
      li
        +extLink("https://getbootstrap.com/docs/4.2/extend/approach/#html-and-css-over-js") JavaScriptよりHTMLとCSSによる実装を優先する
      li
        +extLink("https://getbootstrap.com/docs/4.2/extend/approach/#utilities") カスタムスタイル 
          code style='..."
          |  よりもユーティリティを活用する
      li
        +extLink("https://getbootstrap.com/docs/4.2/extend/approach/#flexible-html") HTML構造規則(セレクタ結合子)への依存を避ける
    h4.mt-3#icons
      +extLink("https://getbootstrap.com/docs/4.2/extend/icons/") Icons
    p Bootstrap 3付属の 
      +extLink("http://getbootstrap.com/docs/3.3/components/#glyphicons") Glyphicons
      |  は廃止され、Bootstrap 4は外部アイコンライブラリを利用する。
    h6 推奨ライブラリ(Bootstrap開発チームによるテスト済+利用実績あり)
    ul
      li
        +extLink("https://fontawesome.com/") Font Awesome
      li
        +extLink("https://useiconic.com/") Iconic
        |  (
        a(href="components-5.html#custom-forms") カスタムフォーム
        | の実装に 
        +extLink("https://github.com/iconic/open-iconic") Open Iconic
        |  が用いられている)
      li: +extLink("https://octicons.github.com/") Octicons
    p その他は 
      +extLink("https://getbootstrap.com/docs/4.2/extend/icons/#more-options") More options
      |  を参照。

    h2.mt-4#migration
      +extLink("https://getbootstrap.com/docs/4.2/migration/") Migration
    p.my-2 旧バージョン(Ver 3)との違いを中心とした解説(Ver 4はほぼ完全に一から書き直しているため全面的な変更が多い)
    p.my-1 Ver 4 Beta版から安定版までの変更点(まとめ)
    ul
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#stable-changes") Stable changes
        |  : Beta 3から安定版への変更点
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#beta-3-changes") Beta 3 changes
        |  : Beta 2からBeta 3への変更点
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#beta-2-changes") Beta 2 changes
        |  : Beta 1からBeta 2への変更点
    p.mt-2.mb-1 バージョン3から4への変更点(まとめ)
    ul
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#browser-support") 対応ブラウザ
        ul
          li IE10+/iOS7+ (IE8,9,iOS6を切り捨て)
          li Android v5,0 Lollipop + WebView
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#global-changes") 全体的な変更点
        ul
          li Flexboxがデフォルトで有効
          li CSS処理ソース形式ををLessからSassに変更
          li CSSの基本単位を 
            code em
            |  から 
            code rem
            |  に変更
          li グローバルフォントサイズを 
            code 14px
            |  から 
            code 16px
            |  に変更, etc.
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#grid-system") グリッド
        ul
          li Flexboxベースに移行
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#components") コンポーネント
        ul
          li panels, thumnail, wells, Glyphicons, Affix, pagerを廃止
          li ほぼ全てのコンポーネントを書き直し
    p.mt-2.mb-1 コンポーネント別の変更(まとめ/主要項目のみ、詳細はリンク先の本文参照)
    ul
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#reboot") Reboot
        ul
          li リセットCSSを 
            +extLink("https://necolas.github.io/normalize.css/") Normalize.css
            |  から 
            +extLink("https://getbootstrap.com/docs/4.2/content/reboot/") Reboot
            |  に変更
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#typography") タイポグラフィ
        ul
          li
            code .page-header
            |  を削除(代替としてユーティリティを使用)
          li Dropped 
            code .dl-horizontal
            |  (代替として 
            code .row
            |  を使用)
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#images") 画像
        ul
          li
            code .img-responsive
            |  から 
            code .img-fluid
            |  に名称変更
          li
            code .img-rounded
            |  から 
            code .rounded
            |  に名称変更
          li
            code .img-circle
            |  から 
            code .rounded-circle
            |  に名称変更
      li#tables
        +extLink("https://getbootstrap.com/docs/4.2/migration/#tables") 表
        ul
          li (特にネストしたテーブルの)カスタマイズを容易にするためCSSの子結合子 ( 
            code &gt;
            |  ) を大部分除去
          li レスポンシブ対応テーブルは親要素が不要になった
          li
            code .table-condensed
            |  から 
            code .table-sm 
            |  に名称変更
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#forms-1") フォーム
        ul
          li
            code .control-label
            |  から 
            code .col-form-label
            |  に名称変更
          li
            code .input-(lg|sm)
            |  から 
            code .form-control-(lg|sm)
            |  に名称変更
          li
            code .form-group-*
            |  を削除(代替として 
            code .form-control-*
            |  )
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#buttons") ボタン
        ul
          li
            code .btn-default
            |  から 
            code .btn-secondary
            |  に名称変更
          li
            code .btn-xs
            |  を削除
          li
            code button.js
            |  の状態付きボタン機能を削除
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#button-group") ボタングループ
        ul
          li Flexboxベースで書き直し
          li
            code .btn-group-justified
            |  を削除
          li
            code .btn-group-xs
            |  を削除
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#dropdowns") ドロップダウン
        ul
          li 単純化して再設計
          li 新設計により 
            code div
            |  と 
            code ul
            |  の要素からの作成に対応
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#grid-system-1") グリッド
        ul
          li
            code 576px
            |  の 
            code sm
            |  ブレークポイントを追加 (
            code xs
            | , 
            code sm
            | , 
            code mb
            | , 
            code lg
            | , 
            code xl
            |  の計5種類)
          li 記法を 
            code .col-{breakpoint}-{modifier}-{size}
            |  から 
            code .{modifier}-{breakpoint}-{size}
            |  に変更
          li push/pull機能を廃止(代替としてFlexboxを使用)
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#list-groups") リストグループ
        ul
          li Flexboxベースで書き直し
          li
            code a.list-group-item
            |  を 
            code .list-group-item-action
            |  に変更
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#modal") モーダル
        ul
          li Flexboxベースで書き直し
          li
            code remote
            |  オプションを削除
          li
            code loaded.bs.modal
            |  イベントを削除
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#navs") ナビゲーション
        ul
          li Flexboxベースで書き直し
          li 設定単純化のためCSSの子結合子 ( 
            code &gt;
            |  ) を大部分削除
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#navbar") ナビゲーションバー
        ul
          li Flexboxベースで完全に再設計
          li レスポンシブ対応 
            code .navbar-expand-{breakpoint}
            |  の設定先を 
            code .navbar
            |  設定要素に変更
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#pagination") ページネーション
        ul
          li Flexboxベースで書き直し
          li
            code .pagination
            |  のアイテムに 
            code .page-(item|link)
            |  の設定が必要になった
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#breadcrumbs") パンくずリスト
        ul
          li これもアイテムに 
            code .breadcrumb-item
            |  の設定が必要になった
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#labels-and-badges") Labels and badges
        ul
          li バージョン3のBadgeを廃止
          li バージョン3のLabelをBadgeに名称変更( 
            code label
            |  要素との混同を避けるため)
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#panels-thumbnails-and-wells") Panels, thumbnails, and wells
        ul
          li これらのコンポーネントは廃止し、代わりに新コンポーネントの
            a(href="components-3.html") カード
            | を使う
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#progress") プログレスバー
        ul
          li バーの配色を 
            code .progress-bar-*
            |  から 
            code .bg-*
            |  に変更
          li アニメーション用設定を 
            code .active
            |  から 
            code .progress-bar-animated
            |  に変更
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#carousel") カルーセル
        ul
          li 全面書き直し
          li 構造(特に親子)に依存するCSS記述を回避(
            code .carousel-
            |  接頭辞を使う)
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#tables-1") 表
        |  ⇒ 
        a(href="#tables") (上記参照)
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#utilities") ユーティリティ
        ul
          li Displayのレスポンシブ設定を追加 
            code .d-(sm|md|lg|xl)-(none|inline|...)
          li 文字寄せのレスポンシブ設定を追加 
            code .text-(sm|md|lg|xl)-(left|center|right)
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#vendor-prefix-mixins") Vendor prefix mixins
        ul
          li 採用をやめ、代わりに 
            +extLink("https://github.com/postcss/autoprefixer") Autoprefixer
            |  を採用
    p.mt-2.mb-1 その他
    ul
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#documentation") Documentation
        |  : (Jekyllを用いた)ドキュメント生成の変更点
      li
        +extLink("https://getbootstrap.com/docs/4.2/migration/#responsive-utilities") Responsive utilities
        |  : レスポンシブ実装の変更点(大幅に単純化)

    h2.mt-4#about
      +extLink("https://getbootstrap.com/docs/4.2/about/overview/") About
    h4.mt-3#overview
      +extLink("https://getbootstrap.com/docs/4.2/about/overview/") Overview
    p.mt-2 Bootstrap開発チーム、歴史等について

    h4.mt-3#brand
      +extLink("https://getbootstrap.com/docs/4.2/about/brand/") Brand
    p.my-2 Bootstrapロゴ/ブランド(画像ダウンロードあり)とその使用ガイドラインについて

    h4.mt-3#licence
      +extLink("https://getbootstrap.com/docs/4.2/about/license/") Licence
    p.mt-2 BootstrapのオープンソースライセンスのFAQ

    h4.mt-3#translations
      +extLink("https://getbootstrap.com/docs/4.2/about/translations/") Translations
    p.mt-2 翻訳サイトへのリンク集

    +breadcrumbLevel1("Extend/Migration/About")
