extends ../template-cdn-ja
include ../mixins-ja

mixin bodyTextExample
  h5 Media heading
  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

mixin imageSample
  img.mr-3(src="../img/48x48.svg" alt="48x48 placeholder image")

block head
  title Bootstrap 4 tutorial: レイアウト(2): メディアオブジェクト / レイアウトユーティリティ

block body
  div.container
    +pageHeader("layout-2")
      p.lead レイアウト(2): 
        a(href="#media-object") メディアオブジェクト
        |  / 
        a(href="#utilities-for-layout") レイアウトユーティリティ

    h2.mt-2#media-object
      +extLink("https://getbootstrap.com/docs/4.1/layout/media-object/") メディアオブジェクト
    h4.mt-4#media-example
      +extLink("https://getbootstrap.com/docs/4.1/layout/media-object/#example") 基本構成
    div.media.my-3
      +imageSample
      div.media-body
        +bodyTextExample
    ul.struct.mt-3
      li 外枠 
        code div.media
        ul
          li サムネール画像 
            code img
            +attrsBtn(".a1-1")
            ul.collapse.a1-1
              li.cls クラス 
                code .mr-3
                |  (右側の本文との間に1remの間隔を確保 ⇒ 
                a(href="utilities-4.html#spacing") 空白ユーティリティ
                | )
              li.att 属性 
                code href="..."
              li.att 属性 
                code alt="..."
          li ヘッダ + 本文 
            code div.media-body
            ul
              li ヘッダ 
                code h5
                ul
                  li.txt テキスト 
                    code Media heading
              li.txt 本文 
                code Lorem ipsum ...
    h4.mt-4#media-nesting
      +extLink("https://getbootstrap.com/docs/4.1/layout/media-object/#nesting") ネスト
    p.my-2
      code div.media-body
      |  の子として 
      code div.media
      |  をネストして配置できる。
    p.mt-2.mb-1 2重ネストの例
    div.media.mt-3
      +imageSample
      div.media-body
        +bodyTextExample
        div.media.pt-3
          +imageSample
          div.media-body
            +bodyTextExample
    p.mt-4.mb-1 3重ネスト(以下何重でもOK)
    div.media.mt-3
      +imageSample
      div.media-body
        +bodyTextExample
        div.media.pt-3
          +imageSample
          div.media-body
            +bodyTextExample
            div.media.pt-3
              +imageSample
              div.media-body
                +bodyTextExample
    h4.mt-4#media-alignment
      +extLink("https://getbootstrap.com/docs/4.1/layout/media-object/#alignment") アラインメント
    p.my-2
      a(href="utilities-3.html#flex") Flexboxユーティリティ
      | の 
      code .align-self(start|center|end)
      |  を用いる。次は 
      code img
      |  の配置例(枠に確認用のボーダーを追加)。
    each algn in [["start", "Top"], ["center", "Center"], ["end", "Bottom"]]
      p.mt-2.mb-1
        code= `img.align-self-${algn[0]}`
      div.media.mb-3.border
        img(class=`align-self-${algn[0]} mr-3` src="../img/48x48.svg" alt="48x48 placeholder image")
        div.media-body
          h5.mt-0= `${algn[1]}-aligned media`
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    h4.mt-4#media-order
      +extLink("https://getbootstrap.com/docs/4.1/layout/media-object/#order") コンテンツの順序
    p.my-2 (1) 要素の順序を変更して 
      code img
      |  を最後にすると右配置になる
    div.media.mt-2
      div.media-body
        +bodyTextExample
      img.ml-3.order-last(src="../img/48x48.svg" alt="48x48 placeholder image")
    p.mt-4.mb-2 (2) 
      a(href="utilities-3.html#flex") Flexboxユーティリティ
      | の 
      code .order-*
      |  を使い順序を入れ替えても同じことができる
    div.media.mt-2
      img.ml-3.order-last(src="../img/48x48.svg" alt="48x48 placeholder image")
      div.media-body
        +bodyTextExample
    h4.mt-4#media-list
      +extLink("https://getbootstrap.com/docs/4.1/layout/media-object/#media-list") リスト要素を用いる場合
    p.my-2
      code ul
      |  ( 
      code ol
      |  でも同じ)を用いた例
    ul.list-unstyled
      each n in [1,2,3]
        li.media.my-3
          +imageSample
          div.media-body
            h5.mt-0= `Media heading (${n})`
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    ul.struct.mt-3
      li
        code ul.list-unstyled
        ul
          li.cls
            code .list-unstyled
            |  で先頭シンボルを非表示(⇒ 
            a(href="content-1.html#typo-list-unstyled") リストのデフォルト書式解除
            | )
          li アイテム(個数分) 
            code li.media.my-3
            ul
              li.cls
                code .my-3
                |  は上下マージン調整(⇒ 
                a(href="utilities-4.html#spacing") 空白ユーティリティ
                | )
              li 以下
                a(href="#media-example") 基本構成
                | の内部と同様
    h2.mt-5#utilities
      +extLink("https://getbootstrap.com/docs/4.1/layout/utilities-for-layout/") レイアウトユーティリティ
    p.mb-2 レイアウト用のBootstrapユーティリティについて(簡単な紹介のみ)
    ul.mb-3
      li 要素の表示/非表示の設定 ⇒ 
        a(href="utilities-2.html#display") 表示
      li flexboxを用いたレイアウト ⇒ 
        a(href="utilities-3.html#flex") Flexbox
      li マージンとパディングの設定 ⇒ 
        a(href="utilities-4.html#spacing") 空白
      li (配置を変えずに)表示だけ消す場合 ⇒ 
        a(href="utilities-5.html#visibility") 可視性

    +breadcrumbLevel1("レイアウト(2): メディアオブジェクト/レイアウトユーティリティ")
